<div class="text">
  <h1 class="heading-large"><%= t(".header") %></h1>

  <%= form_for(@user, url: passwords_path) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: @user) %>

    <p>
      <%= t(".password_guidance") %>
    </p>

    <div class="form-group <%= "form-group-error" if @user.errors[:current_password].any? %>">
      <fieldset id="current_password">
        <%= f.label :current_password, class: "form-label" do %>
          <%= t(".labels.current_password") %>
          <span class="form-hint">
          <%= t(".labels.current_password_hint") %>
          </span>
        <% end %>
        <%= f.password_field :current_password, class: "form-control" %>
      </fieldset>
    </div>

    <div class="form-group <%= "form-group-error" if @user.errors[:password].any? %>">
      <fieldset id="password">
        <%= f.label :password, t(".labels.password"), class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </fieldset>
    </div>

    <div class="form-group <%= "form-group-error" if @user.errors[:password_confirmation].any? %>">
      <fieldset id="password_confirmation">
        <%= f.label :password_confirmation, t(".labels.password_confirmation"), class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </fieldset>
    </div>

    <div class="actions">
      <%= f.submit t(".submit_button"), class: "button" %>
    </div>
  <% end %>
</div>
