<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <p><%= t(".summary.paragraph_1", count: @registrations.count) %></p>
    <p><%= t(".summary.paragraph_2") %></p>
    <ul class="list list-bullet">
      <% t(".summary.list").each do |list_item| %>
        <li><%= list_item %></li>
      <% end %>
    </ul>
    <p><%= t(".summary.paragraph_3") %></p>
  </div>

  <div class="column-one-third">
    <div class="user-info">
      <h2 class="heading-medium">
        <%= t(".user_info.heading") %>
      </h2>
      <p>
        <%= t(".user_info.signed_in_user") %>
        <span><%= current_user.email %></span>
      </p>
      <p><%= link_to t(".user_info.change_password_link"), url_to_change_password %></p>
      <p><%= link_to t(".user_info.sign_out_link"), destroy_user_session_path, class: "button" %></p>
    </div>
  </div>
</div>

<% if @registrations.present? %>
  <% @registrations.each do |registration| %>
    <div class="grid-row registration-list">
      <div class="column-one-quarter">
        <ul class="registration-details">
          <li>
            <span><%= t(".results.labels.company_name") %></span>
            <%= registration.company_name %>
          </li>
          <% if registration.registered_address.present? %>
          <li>
            <span><%= t(".results.labels.registered_address_postcode") %></span>
            <%= registration.registered_address.postcode %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="column-one-quarter">
        <ul class="registration-details">
          <li>
            <span><%= t(".results.labels.reg_identifier") %></span>
            <%= registration.reg_identifier %>
          </li>
          <li>
            <span><%= t(".results.labels.status") %></span>
            <%= registration.metaData.status.titleize %>
          </li>
        </ul>
      </div>
      <div class="column-one-quarter">
        <ul class="registration-details">
          <% if registration.metaData.date_registered.present? %>
          <li>
            <span><%= t(".results.labels.date_registered") %></span>
            <%= registration.metaData.date_registered.to_date %>
          </li>
          <% end %>
          <% if registration.expires_on.present? %>
          <li>
            <span><%= t(".results.labels.expires_on") %></span>
            <%= registration.expires_on.to_date %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="column-one-quarter">
        <span><%= t(".results.labels.actions") %></span>
        <% if display_no_action_links?(registration) %>
          <%= t(".results.actions.no_actions") %>
        <% else %>
          <ul>
            <% if display_view_certificate_link_for?(registration) %>
              <li>
                <%= link_to view_certificate_url(registration) do %>
                 <%= t(".results.actions.view_certificate.link_text") %>
                 <span class="visually-hidden">
                   <%= t(".results.actions.view_certificate.visually_hidden_text",
                         name: registration.company_name) %>
                 </span>
                <% end %>
              </li>
            <% end %>
            <% if display_edit_link_for?(registration) %>
              <li>
                <%= link_to edit_url(registration) do %>
                  <%= t(".results.actions.edit.link_text") %>
                  <span class="visually-hidden">
                    <%= t(".results.actions.edit.visually_hidden_text",
                          name: registration.company_name) %>
                  </span>
                <% end %>
              </li>
            <% end %>
            <% if display_renew_link_for?(registration) %>
              <li>
                <%= link_to renew_url(registration) do %>
                  <%= t(".results.actions.renew.link_text") %>
                  <span class="visually-hidden">
                    <%= t(".results.actions.renew.visually_hidden_text",
                          name: registration.company_name) %>
                  </span>
                <% end %>
              </li>
            <% end %>
            <% if display_order_cards_link_for?(registration) %>
              <li>
                <%= link_to order_cards_url(registration) do %>
                  <%= t(".results.actions.order_cards.link_text") %>
                  <span class="visually-hidden">
                    <%= t(".results.actions.order_cards.visually_hidden_text",
                          name: registration.company_name) %>
                  </span>
                <% end %>
              </li>
            <% end %>
            <% if display_delete_link_for?(registration) %>
              <li>
                <%= link_to delete_url(registration) do %>
                  <%= t(".results.actions.delete.link_text") %>
                  <span class="visually-hidden">
                    <%= t(".results.actions.delete.visually_hidden_text",
                          name: registration.company_name) %>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="grid-row">
    <div class="column-full">
      <nav role="navigation" class="pagination" aria-label="Pagination">
        <div class="pagination__summary">
          <%= page_entries_info @registrations, entry_name: "item" %>
        </div>
        <%= paginate @registrations %>
      </nav>
    </div>
  </div>
<% else %>
  <p><%= t(".results.no_results") %></p>
<% end %>

<div class="grid-row">
  <div class="column-full">
    <%= link_to t(".new_registration_button"),
                url_for_new_registration,
                class: "button" %>
  </div>
</div>
